[submodule "api"]
	path = ./api
	url = git@github.com:denzel-stel/dinner-match-api.git
[submodule "app"]
	path = ./api
	url = git@github.com:denzel-stel/dinner-match-expo.git
[submodule "database"]
	path = ./database
	url = git@github.com:denzel-stel/dinner-match-expo.git